<div>
  <button class="btn" data-trigger="transport.Rewind" id="play-btn">
    <i class="fas fa-backward"></i>
  </button>

  <button class="btn" data-trigger="transport.Forward" id="play-btn">
    <i class="fas fa-forward"></i>
  </button>

  <button class="btn" data-trigger="transport.Stop" id="stop-btn">
    <i class="fas fa-stop"></i>
  </button>

  <button class="btn" data-trigger="transport.Play" id="play-btn">
    <i class="fas fa-play"></i>
  </button>

  <button class="btn" data-trigger="transport.Record" id="play-btn">
    <i class="fas fa-circle"></i>
  </button>

  <button class="btn btn-primary" data-trigger="transport.Save" id="play-btn">
    <i class="fas fa-save"></i>
  </button>
</div>
<div id="error"></div>
